<div class="row pt-5"></div>
  <div class=" mx-auto">
    <!-- creating the card in which the information page is built on, setting its size and colour-->
    <div id="card"  class="card rounded-2 text-white mb-3" style="background-color: #133300">
      <div class="card-header">
          <img class="card-img-top" src= "assets/img/banner.jpg" alt="Card image cap">

        <h1 class="mb-0 pt-4 text-uppercase">Information Page</h1>
        <p>To get started on making your character make an account.  
          This can be done in the Register Page present on the right of the navigation bar.  
          If you have already made an account then just simply log in.</p>

        <h3 class="mb-0 pt-4">Class Info</h3>
        <p>There is a variety of classes that you choose from when making your character.  
          Whatever every class you decide to choose will effect the personality, states and the way the character is played.  
          You will also be able to choose which weapon and armour your character will be using.  
          Each class has its own proficiencies and starting equipment. </p>
          
        
          <h2 class="mb-0 pt-4">Beserker</h2>

          <div class="row 1">
               <img class="card-img" style="float:left" id="class" src="assets/img/Berserker.jpg"/>
              <p style="float:right">The Berseker is a routless savage, usually wears no armour as it isn't need.  
                They rushes into battle with either two hatchets or a 2-handed weapon like a hammer or battleaxe.
                This might not sound like the best strategy but the Berseker is so fierce he absorb hits and knocks back with insatiable force.
                The Berskers stats with high strength and constitution.</p>
          </div>

          <h2 class="mb-0 pt-4">Soldier</h2>
              
          <div class="row 2">
               <img class="card-img" style="float:left" id="class" src="assets/img/Soldier.jpg"/>
              <p style="float:right">The Soldier is master of tactics and fighting strategy.
                They observe their opponents movements and fighting style and find the best approach to start their brawl.
                This can give the solder attacks of opportunity giving them the advantage in fights.
                The Soldier stats with high strength and wisdom. 
              </p>
          </div>

          <h2 class="mb-0 pt-4">Rogue</h2>
              
          <div class="row 3">
               <img class="card-img" style="float:left" id="class" src="assets/img/Rogue.jpg"/>
              <p style="float:right">Rogues have a silent way of fightingl, creeping up on their enemies from the shadows without being seen
                Their enemies don't notice their presence gives them chance to give vitual hit before the being a fight.
                They are incredible atlete being if the fight turns, they can escape rapidily.
                The Rogue stats with high stealthy and acrobatics.
              </p>
          </div>

          <h2 class="mb-0 pt-4">Knight</h2>
              
          <div class="row 4">
               <img class="card-img" style="float:left" id="class" src="assets/img/Knight.jpg"/>
              <p style="float:right">Knight wear heavy armour and goes for a more head on aproach in a fight.  
                They is proficient in all times of armour and weapons making him the perfect battlemaster.
                They are used to a fight are do not get intimidate no matter the situation.
                Knight stats with Constitution and fighting.
              </p>
          </div>

          <h2 class="mb-0 pt-4">Tank</h2>
              
          <div class="row 5">
               <img class="card-img" style="float:left" id="class" src="assets/img/Tank.jpg"/>
              <p style="float:right">Tanks are the goverment soldier of this wasteland.
                They have sort suppy of much more advance weapons and armour.
                Some even have weaponary but are in unoftenly seen and bullets are a rarity.
                They are best with short weapons such are a daggers or short swords and are excellent in unarmed combat.
                Tanks stats are high in arcobatics, athletes and strength.
              </p>
          </div>

          <h2 class="mb-0 pt-4">Ranger</h2>
              
          <div class="row 6">
               <img class="card-img" style="float:left" id="class" src="assets/img/Ranger.jpg"/>
               <p style="float:right">Rangers attack their enemies from a distance but as a result must keep that distance in a fight.
                 The have the eyes of a hawk and are usually used as scouts as with their hightened senses they will be the best recon.
                 The are proficient in short weapons such as a dagger or knife.
                 Rangers stats are high in perception and acrobatics.
               </p>
              </div>
    
      <div class="card-body">
        
      </div>
    </div>
  </div>
</div>
