#card h1 {
    color: rgb(140, 1, 1);
 }
 #card h3 {
     color: rgb(71, 69, 69);
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-weight: bold;
 }
 #card h2{
    color: rgb(35, 0, 37);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
 }
 #class{
    height:250px;
    width:200px;
    margin-right: 15px;
    margin-left: 15px;
}
p{
    font-size: 18px;
    margin-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

