
<div class="row pt-5">
  <div class="col-md-14 mx-auto">
    <div id="card" class="card rounded-2 text-white mb-3" style="background-color: #230025">
      <div class="card-header">
          <img class="card-img-top" src= "assets/img/banner.jpg" alt="Card image cap">

        <h2 class="mb-0 pt-4 text-uppercase">Information Page</h2>
        <p>To get started on making your character make an account.  
          This can be done in the Register Page present on the right of the navigation bar.  
          If you have already made an account then just simply log in.</p>

        <h3 class="mb-0 pt-4">Class Info</h3>
        <p>There is a variety of classes that you choose from when making your character.  
          Whatever every class you decide to choose will effect the personality, states and the way the character is played.  
          You will also be able to choose which weapon and armour your character will be using.  
          Each class has its own proficiencies and starting equipment. </p>
          
        <h3 class="mb-0 pt-4">Beserker</h3>
        <img class="card-img" style="float:left" id="class" src="assets/img/berserker.jpg"/>
        <p>That's very good</p>
                
      <div class="card-body">
        
      </div>
    </div>
  </div>
</div>
